In [1]:
import pandas as pd
df = pd.read_csv('201901-citibike-tripdata.csv')
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [23]:
#1. The top 5 most popula starting stations 
df["start station name"].value_counts().head()

Pershing Square North    8905
Broadway & E 22 St       6751
8 Ave & W 31 St          6555
W 21 St & 6 Ave          6501
E 17 St & Broadway       5815
Name: end station name, dtype: int64

In [12]:
#1. The top 5 most popula destionations
df["end station name"].value_counts().head()

Pershing Square North    8905
Broadway & E 22 St       6751
8 Ave & W 31 St          6555
W 21 St & 6 Ave          6501
E 17 St & Broadway       5815
Name: end station name, dtype: int64

In [36]:
#1. Circle trips
df_circl = df[(df["start station name"] == df["end station name"])]
df_circl.shape[0]

15508

In [37]:
# % of Circle trips per month
df_circl.shape[0]/df.shape[0] *100

1.6032470197573212

In [22]:
#2. How long duration per trip based on different type of users?  - Trip Duration (seconds)
# Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member
df.groupby('usertype')['tripduration'].describe().reset_index()

,usertype,count,mean,std,min,25%,50%,75%,max
0,Customer,40173.0,2186.768178,21281.730853,61.0,682.0,1179.0,1673.0,2679841.0
1,Subscriber,927114.0,714.703646,5791.855694,61.0,304.0,491.0,812.0,2377708.0

In [38]:
#2. the most popular of Circle trips destinations
df_circl["end station name"].value_counts().head()

Central Park S & 6 Ave       222
Allen St & Stanton St        182
W 70 St & Amsterdam Ave      160
Centre St & Chambers St      151
Schermerhorn St & Bond St    143
Name: end station name, dtype: int64

In [20]:
#3. Where are most popular trips based on start station and stop station?
df['trip'] = "From " + df["start station name"] + " to " + df["end station name"]
df['trip'].value_counts().head()

From E 7 St & Avenue A to Cooper Square & Astor Pl                527
From N 6 St & Bedford Ave to S 4 St & Wythe Ave                   399
From S 4 St & Wythe Ave to N 6 St & Bedford Ave                   355
From North Moore St & Greenwich St to Vesey Pl & River Terrace    335
From W 20 St & 11 Ave to W 16 St & 8 Ave                          335
Name: trip, dtype: int64

In [94]:
#4. How riders performance by gender and age based on average trip distance (station to station), median speed (trip duration / distance traveled)? 
# Gender (Zero=unknown; 1=male; 2=female)
df_gender = df[['trip','tripduration','gender']]
df_gender = df_gender.loc[df_gender['gender'].isin(['1','2'])] # filer out unknown value in gender
df_gender_mean = df_gender.groupby(['trip','gender'])['tripduration'].mean()
df_gender_mean = df_gender_mean.to_frame().reset_index() # conver series to dataframe
df_gender_mean = df_gender_mean.pivot(index='trip', columns='gender', values='tripduration').dropna() # long to wide form and drop NaN rows
df_gender_mean.head()

#df_gender_mean['dif_duration'] = df_gender_mean['2'] - df_gender_mean['1']

gender                                               1            2
trip
From 1 Ave & E 110 St to 1 Ave & E 110 St  1032.600000  2589.000000
From 1 Ave & E 110 St to 1 Ave & E 94 St    385.714286   814.000000
From 1 Ave & E 110 St to 2 Ave & E 104 St   279.285714   223.000000
From 1 Ave & E 110 St to 2 Ave & E 122 St   422.857143   698.000000
From 1 Ave & E 110 St to 2 Ave & E 96 St    406.500000   393.526316

In [96]:
df_gender_mean[['2']]

KeyError: "['2'] not in index"

In [ ]:
#4. How riders performance by gender and age based on average trip distance (station to station), median speed (trip duration / distance traveled)? 
df_gender = df[['trip','tripduration','birth year']]

In [ ]:
df_gender_mean.columns = ['trip', 'gender','tripduration_mean'] # assign column names